:root {
    --fade-in: fade-in;
    --fade-out: fade-out;
    --scale-in: scale-in;
    --scale-out: scale-out;
    --slide-in: slide-in;
    --slide-out: slide-out;
    --leaf-on: leaf-on;
    --leaf-off: leaf-off;
    --innerleaf-on: innerleaf-on;
    --innerleaf-off: innerleaf-off;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(calc(-1 * var(--transY)));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(var(--transY));
    }
}

@keyframes scale-in {
    0% {
        opacity: 0;
        transform: scale(var(--scale-min));
    }
    66% {
        opacity: 1;
        transform: scale(var(--scale-max));
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes scale-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(var(--scale-min));
    }
}

@keyframes leaf-on {
    from { transform: rotate(var(--outer-deg)) scale(var(--scale-min));}
    to { transform: rotate(var(--outer-deg)) scale(var(--scale-max));}
}

@keyframes leaf-off {
    from { transform: rotate(var(--outer-deg)) scale(var(--scale-max));}
    to { transform: rotate(var(--outer-deg)) scale(var(--scale-min));}
}


@keyframes innerleaf-on {
    from {
        background-color: var(--bg-darker);
    }

    to {
        background-color: transparent;
    }
}

@keyframes innerleaf-off {
    from {
        background-color: transparent;
    }

    to {
        background-color: var(--bg-darker);
    }
}