:root {
    --fade-in: fade-in;
    --scale-in: scale-in;
    --scale-out: scale-out;
    --slide-in: slide-in;
    --open-outer: open-outer;
    --open-inner: open-inner;
    --leaf-grow: leaf-grow;
    --bg-change: bg-change;
    --float-leaf: float-leaf;
    --scale-leaf: scale-leaf;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(var(--transY));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes open-inner {
    from {
        opacity: 0;
        transform: rotate(0);
    }
    to {
        opacity: 1;
        transform: rotate(var(--inner-deg));
    }
}

@keyframes scale-in {
    0% {
        opacity: 0;
        transform: scale(var(--scale-min));
    }
    66% {
        opacity: 1;
        transform: scale(var(--scale-max));
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes scale-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(var(--scale-min));
    }
}

@keyframes leaf-grow {
    from { transform: rotate(var(--outer-deg)) scale(var(--scale-start));}
    to { transform: rotate(var(--outer-deg)) scale(var(--scale-end));}
}

@keyframes bg-change {
    from {
        background-color: var(--bg-from);
    }

    to {
        background-color: var(--bg-to);
    }
}

@keyframes float-leaf {
    from {
        opacity: 0;
        transform: rotate3d(var(--rotX), var(--rotY), 0, 90deg) translate(var(--transX), 100%);
    }
    to {
        opacity: 1;
        transform: rotate(var(--inner-deg)) translate(0);
    }
}

@keyframes open-outer {
    0% {
        opacity: 0;
        transform: rotate(var(--inner-deg));
    }

    100% {
        opacity: 1;
        transform: rotate(var(--outer-deg));
    }
}

@keyframes scale-leaf {
    0% { transform: rotate(var(--outer-deg)) scale(var(--scale-min));}
    66% { transform: rotate(var(--outer-deg)) scale(var(--scale-max));}
    100% { transform: rotate(var(--outer-deg)) scale(var(--outer-scale)); }
}