@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(calc(-1 * var(--transY)));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(var(--transY));
    }
}

@keyframes scale-in {
    0% {
        opacity: 0;
        transform: scale(var(--scale-min));
    }
    66% {
        opacity: 1;
        transform: scale(var(--scale-max));
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes scale-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(var(--scale-min));
    }
}