:root {
    --init-op: 0;
}

.main h1,
.main section,
.main::before,
.main::after,
.nav::before,
.nav::after,
.lang,
.header,
.projtitle,
.proj {
    opacity: var(--init-op);
}


.appear {
    --scale-max: 1.4;

    --anim-dur: .6s;
    --item-dur: calc(1 * var(--anim-dur));
    --leaf-dur: calc(2 * var(--anim-dur));
    --frame-dur: calc(1.5 * var(--anim-dur));
    --header-dur: var(--frame-dur);

    --item-del: calc(0.33 * var(--item-dur));
    --main-leaf-del: 0.1s;
    --h1-del: calc(var(--main-leaf-del) + 0.66 * var(--leaf-dur));
    --lang-del: calc(var(--h1-del) + 0.66 * var(--anim-dur));
    --nav-leaf-del: calc(var(--lang-del) + 1.5 * var(--item-dur));
    --proj-title-del: calc(var(--nav-leaf-del) + 0.66 * var(--leaf-dur));
    --proj-del: calc(var(--proj-title-del) + 0.66 * var(--anim-dur));
    --nav-frame-del: calc(var(--proj-del) + var(--leaf-dur));
    --main-frame-del: var(--nav-frame-del);
    --header-del: var(--main-frame-del);
    --section-del: var(--main-frame-del);
    
    --h1-anim: var(--scale-in);
    --section-anim: var(--slide-in);
}

.appear .main, 
.appear .nav {
    --inner-anim: var(--float-leaf);
    --outer-anim: var(--open-outer);
    --inner-dur: var(--leaf-dur);
    --outer-dur: var(--frame-dur);
}

.appear .main {
    --rotX: 1;
    --rotY: 0.5;
    --transX: 50%;
    --transY: var(--section-margin);
    --inner-del: var(--main-leaf-del);
    --outer-del: var(--main-frame-del);
}

.appear .nav {
    --rotX: 1;
    --rotY: -0.5;
    --transX: -50%;
    --inner-del: var(--nav-leaf-del);
    --outer-del: var(--nav-frame-del);
} 

.appear .lang {
    --inner-anim: none;
    --outer-anim: var(--scale-leaf);
    --total-del: calc(var(--lang-del) + var(--i) * var(--item-del));
    --outer-del: var(--total-del);
    --outer-dur: var(--anim-dur);
    --scale-min: 0.5;
    --scale-max: 1.3;

    animation: var(--item-dur) var(--total-del) var(--anim-tf) both var(--fade-in);
}

.appear .projtitle {
    --scale-min: 0.3;
    animation: var(--anim-dur) var(--proj-title-del) var(--anim-tf) both show-proj;
}

.appear .proj {
    --transX: 50%;
    --total-d: calc(var(--proj-del) + var(--i) * var(--item-del) * 0.5);
    animation: var(--item-dur) var(--total-d) var(--anim-tf) both slide-proj;
}

.appear .header {
    --transY: 100%;

    animation: var(--header-dur) var(--header-del) var(--anim-tf) both var(--slide-in);
}

.appear-done {
    --init-op: 1;
}

@keyframes show-proj {
    0% { 
        opacity: 0;
        transform: scale(var(--scale-min)) rotate(0); 
    }
    66% { 
        opacity: 1;
        transform: scale(var(--scale-max)) rotate(0); 
    }
    100% { 
        opacity: 1;
        transform: scale(1) rotate(var(--rot-deg)); 
    }
}
@keyframes slide-proj {
    0% { 
        opacity: 0;
        transform: translateX(var(--transX)); 
    }
    50% {
        opacity: 0.25;
        transform: translateX(calc(-1 * var(--transX))); 
    }
    100% { 
        opacity: 1;
        transform: translateX(0); 
    }
}