.leaves {
    display: flex;
    align-items: center;
    gap: calc(0.5 * var(--fixed-gap));
}

.leaves > *, .leaves h3 {
    border-radius: 0 var(--outline-radius-nav) 0 var(--outline-radius-nav);
}

.leaves > * {
    display: block;
    padding-block: calc(0.5 * var(--border-width));
    background-image: linear-gradient(var(--links-direction), var(--two-colors));
    cursor: pointer;
}

.leaves h3 {
    display: inline-block;
    padding-inline: 1.25rem 0.75rem;
    padding-block: 0.25rem;
    white-space: nowrap;
    font-size: 0.875rem;
    font-weight: 300;
    background-color: var(--bg);
    transition: background-color .3s ease-in-out;
}

.leaves > *:hover h3 {
    background-color: transparent;
}