:root {
    --light-text: rgb(243, 243, 243);
    --gray-text: rgb(206, 206, 206);
    --dark-text: rgb(150, 150, 150);
    --bg-lighter: #383f3f;
    --bg-darker: #2e3535;
    --bg: var(--bg-darker);
    --bg-trans: #262b2b80;
    --text-shadow: 2px 2px var(--bg-trans);
    
    --c0: #c080e0;
    --c1: #40c0e0;
    --c2: #40c080;   
    --c3: #c040e0;
    --c4: #008080;    
    --c5: #80c0e0;
    --c6: #8040e0;
    --c7: #c08062;
    --c8: #c04080;
    --c9: #4080e0;
    --c10: #80c080;
    --c11: #804080;
    
    --grad1: var(--c0);
    --grad2: var(--c1);
    --two-colors: var(--grad1), var(--grad2);
    --all-colors: var(--c0), var(--c1), var(--c2), var(--c3), var(--c4), var(--c5), var(--c6), var(--c7), var(--c8), var(--c9), var(--c10), var(--c11); 
    
    --bg-size: 1100%;
    --bg-position: 0%;

    --fixed-gap: 0.75rem;
    --relative-indent: 10vh;
    --p-margin: .75rem;
    --h1-size: 2.75rem;
    --section-margin: 4rem;

    --outline-radius-sm: 1rem;
    --outline-radius-md: 3rem;
    --outline-radius-lg: 9rem;
    --outline-radius-nav: 100vw;

    --font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif;
    --font-weight: 200;
    --handwritten: "Handwritten",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif;

    --anim-dur: .35s;
    --anim-dir: normal;
    --anim-tf: ease;
    --scale-max: 1.2;
}

@media (min-width: 45rem) {

    :root {
        --fixed-gap: 1rem;
        --h1-size: 3rem;
        --relative-indent: 10vh;
    }
}

@media (min-width: 70rem) {
    :root {
        --fixed-gap: 1.25rem;
        --h1-size: 3.5rem;
    }
}