:root {
    --h1-delay: 0;
    --section-delay: 0;
    --langs-delay: 0;
}

.hello h1 {
    --scale-min: 0.6;
    --scale-max: 1.2;
    animation-delay: var(--h1-delay);
}

.hello section {
    animation-delay: var(--section-delay);
}

.langs {
    --scale-min: 1;
    --scale-max: 1.2;
    text-transform: uppercase;
    justify-content: center;
    flex-wrap: wrap;
}

.active {
    --inner-bg: transparent;
    --outer-scale: var(--scale-max);
    cursor: default !important;
}

.enter {
    --section-animation: var(--fade-in);
    --h1-animation: var(--scale-in);
}

.enter .active {
    --outer-animation: var(--leaf-on);
    --inner-animation: var(--innerleaf-on);
}

.exit {
    --section-animation: var(--fade-out);
    --h1-animation: var(--scale-out);
}

.exit .active {
    --outer-animation: var(--leaf-off);
    --inner-animation: var(--innerleaf-off);
}

.exit .langs > div:hover {
    --inner-bg: var(--bg-lighter);
}

@media (min-width: 45rem) {
    .langs {
        justify-content: flex-end;
    }
}