.hello {
    --scale-min: 0.4;
}

.langs {
    --scale-start: 1;
    --scale-end: 1.2;
    text-transform: uppercase;
    justify-content: center;
    flex-wrap: wrap;
}

.active {
    --inner-bg: transparent;
    --outer-scale: var(--scale-end);
    cursor: default !important;
}

.enter {
    --section-anim: var(--fade-in);
    --h1-anim: var(--scale-in);
}

.enter .active {
    --outer-anim: var(--leaf-on);
    --inner-anim: var(--innerleaf-on);
}

.exit {
    --section-anim: var(--fade-out);
    --h1-anim: var(--scale-out);
}

.exit .active {
    --outer-anim: var(--leaf-off);
    --inner-anim: var(--innerleaf-off);
}

.exit .langs > div:hover {
    --inner-bg: var(--bg-lighter);
}

@media (min-width: 45rem) {
    .langs {
        justify-content: flex-end;
    }
}