.hello {
    --scale-max: 1.2;
    --scale-min: 0.6;
    --animation-duration: .4s;
}

.langs {
    text-transform: uppercase;
    justify-content: center;
}

.active {
    --inner-bg: transparent;
    --outer-scale: var(--scale-max);
    cursor: default !important;
}

.enter {
    --section-animation: var(--fade-in);
    --h1-animation: var(--scale-in);
}

.enter .active {
    --outer-animation: leaf-on;
    --inner-animation: innerleaf-on;
}

.exit {
    --section-animation: var(--fade-out);
    --h1-animation: var(--scale-out);
}

.exit .active {
    --outer-animation: leaf-off;
    --inner-animation: innerleaf-off;
}

.exit .langs > div:hover {
    --inner-bg: var(--bg-lighter);
}

@media (min-width: 45rem) {
    .langs {
        justify-content: flex-end;
    }
}

@keyframes leaf-on {
    from { transform: rotate(var(--outer-deg)) scale(1);}
    to { transform: rotate(var(--outer-deg)) scale(var(--scale-max));}
}

@keyframes leaf-off {
    from { transform: rotate(var(--outer-deg)) scale(var(--scale-max));}
    to { transform: rotate(var(--outer-deg)) scale(1);}
}


@keyframes innerleaf-on {
    from {
        background-color: var(--bg-darker);
    }

    to {
        background-color: transparent;
    }
}

@keyframes innerleaf-off {
    from {
        background-color: transparent;
    }

    to {
        background-color: var(--bg-darker);
    }
}