:root {
    --main-anim: none;
    --h1-anim: none;
    --section-anim: none;
    --h1-del: 0s;
    --section-del: 0s;
}

.main {
    --m-bg-pos: calc(100% - var(--bg-position));
    --grad-dir: -45deg;
    --grad-pos: var(--m-bg-pos) var(--m-bg-pos);
    --grad-colors: var(--all-colors);
    --grad-size: var(--bg-size) var(--bg-size);
    --frame-shape: var(--outline-radius-sm) var(--outline-radius-lg) var(--outline-radius-md) var(--outline-radius-lg);
    --outer-padding: 0.125rem;
    --inner-padding: var(--section-margin) calc(0.5 * var(--section-margin));
    --outer-deg: 1deg;
    --inner-deg: -1deg;

    --transY: calc(-1 * var(--section-margin));

    grid-area: main;
    position: relative;
    width: 100%;
    background-position: var(--grad-position) var(--grad-position);
    animation: var(--anim-dur) ease-out forwards var(--main-anim);
}

.main section {
    margin-block: var(--section-margin);
    line-height: 1.25;
    animation: var(--anim-dur) var(--section-del) forwards var(--section-anim);
}

.main h1 {
    --grad-dir: 180deg;
    --transY: calc(-0.25 * var(--section-margin));

    width: fit-content;
    text-align: center;
    margin-block: 0;
    margin-inline: auto;
    font-family: var(--handwritten);
    font-size: var(--h1-size);
    font-weight: 400;
    line-height: 2;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(var(--grad-dir), var(--two-colors));
    animation: var(--anim-dur) var(--h1-del) forwards var(--h1-anim);
}

.main section p {
    margin-block: var(--p-margin);
    text-indent: 1rem hanging;
}

.main section p::first-letter {
    font-family: var(--handwritten);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--grad2);
}

.main section ul {
    list-style-type: none;
    padding-left: calc(2 * var(--p-margin));
}

.main section li {
    --marker-color: var(--grad1);
    position: relative;
    padding-left: 1rem;
}

.main section li:nth-child(even) {
    --marker-color: var(--grad2);
}

.main section li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '~';
    font-weight: 400;
    margin-right: var(--p-margin);
    color: var(--marker-color);
}

.main section a {
    color: var(--grad1);
    font-weight: 400;
    text-decoration: underline var(--grad2) 2px;
    text-underline-offset: 2px;
}

.main section a:hover {
    color: var(--grad2);
}

.enter {
    --h1-anim: var(--slide-in);
    --main-anim: var(--slide-in);
}

.exit {
    --main-anim: var(--slide-out);
}

@media (max-width: 45rem) {
    .main {
        max-width: 30rem;
        margin-inline: auto;
    }
}

@media (min-width: 45rem) {
    .main {
        --frame-shape: var(--outline-radius-sm) var(--outline-radius-lg) var(--outline-radius-md) var(--outline-radius-lg);
        --outer-deg: 3deg;
        --inner-deg: 1deg;
        align-self: center;
    }

    .main h1 {
        text-align: right;
        margin-right: 0;
    }

    .main aside {
        justify-content: flex-end;
    }
}

@media (min-width: 75rem) {
    .main {
        --outer-deg: 10deg;
        --inner-deg: 4deg;
        --inner-padding: calc(1.5 * var(--section-margin)) var(--section-margin) var(--section-margin) calc(1.5 * var(--section-margin));
    }
}