:root {
    --h1-anim: none;
    --h1-del: 0s;
    --section-anim: none;
    --section-del: 0s;
}

.main {
    --m-bg-pos: calc(100% - var(--bg-position));
    --grad-dir: -45deg;
    --grad-pos: var(--m-bg-pos) var(--m-bg-pos);
    --grad-colors: var(--all-colors);
    --grad-size: var(--bg-size) var(--bg-size);
    --frame-shape: var(--outline-radius-sm) var(--outline-radius-lg) var(--outline-radius-md) var(--outline-radius-lg);
    --frame-inset: -0.125rem;
    --leaf-padding: var(--section-margin) calc(0.75 * var(--section-margin));
    --outer-deg: 1deg;
    --inner-deg: -1deg;

    grid-area: main;
    position: relative;
    width: 100%;
    background-position: var(--grad-position) var(--grad-position);
}

.main section {
    margin-block: var(--section-margin);
    line-height: 1.25;
    animation: var(--anim-dur) var(--section-del) var(--anim-tf) both var(--anim-dir) var(--section-anim);
}

.main h1 {
    --grad-dir: -90deg;
    --transY: calc(0.25 * var(--section-margin));

    position: relative;
    z-index: 1;
    width: fit-content;
    text-align: start;
    margin-block: 0;
    margin-inline: auto;
    font-family: var(--handwritten);
    font-size: var(--h1-size);
    font-weight: 400;
    line-height: 2;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(var(--grad-dir), var(--two-colors));
    animation: var(--anim-dur) var(--h1-del) var(--anim-dir) var(--anim-tf) both var(--h1-anim);
}

.main section > p {
    --flc: var(--grad1);
    margin-block: var(--p-margin);
    text-indent: 1rem hanging;
}

.main section > p:nth-of-type(even) {
    --flc: var(--grad2);
}

.main section > p::first-letter {
    font-family: var(--handwritten);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--flc);
}

.main section a {
    color: var(--grad1);
    font-weight: 400;
    text-decoration: underline var(--grad2) 2px;
    text-underline-offset: 2px;
}

.main section a:hover {
    color: var(--grad2);
}

.main section ul li {
    margin-block: 0.25em;
}

.main section ul li::before {
    content: var(--cnt);
    color: var(--clr);
    font-weight: 400;
    margin-right: 0.5em;
}

.enter,
.exit {
    --outer-anim: var(--open-outer);
    --inner-anim: var(--open-inner);
    --h1-anim: var(--slide-in);
    --transY: calc(1 * var(--section-margin));

    animation: var(--anim-dur) var(--main-del) var(--anim-tf) var(--anim-dir) both var(--slide-in);
}

.enter {
    --main-del: 0s;
    --outer-del: calc(0.6 * var(--anim-dur));
    --h1-del: var(--outer-del);
}

.exit {
    --anim-dir: reverse;
    --main-del: calc(0.6 * var(--anim-dur));
    --inner-del: var(--main-del);
    --h1-del: var(--main-del);
}

@media (max-width: 45rem) {
    .main {
        max-width: 30rem;
        margin-inline: auto;
    }
}

@media (min-width: 45rem) {
    .main {
        --frame-shape: var(--outline-radius-sm) var(--outline-radius-lg) var(--outline-radius-md) var(--outline-radius-lg);
        --outer-deg: 4deg;
        --inner-deg: 2deg;
        --frame-inset: 0;
        align-self: center;
    }

    .main h1 {
        text-align: right;
        margin-right: 0;
    }
}

@media (min-width: 70rem) {
    .main {
        --outer-deg: 7deg;
        --inner-deg: 3deg;
        --leaf-padding: calc(1.5 * var(--section-margin)) calc(1.25 * var(--section-margin)) var(--section-margin) calc(1.75 * var(--section-margin));
    }
}