.info {
    font-size: 0.875rem;
    padding-inline: var(--fixed-gap);
}

.info h5 {
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    line-height: 1rem;
    margin-top: calc(1.5 * var(--padding));
    margin-bottom: calc(2 * var(--padding));
}

.info h5 + div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--fixed-gap);
}

.accountable {
    padding-left: calc(1.25 * var(--text-indent));
}

.accountable p::before {
    content: '✓';
    padding-right: 0.25rem;
    color: var(--grad1);
}

.accountable p:nth-child(even)::before {
    color: var(--grad2);
}

.links {
    flex-wrap: wrap;
    justify-content: flex-end;
}

@media (min-width: 45rem) {
    .info {
        
    }
    .info h5 {
        margin-left: auto;
        max-width: 85%;
        text-align: right;
    }
}