.info {
    font-size: calc(0.375 * var(--h1-size));
}

.info h5 {
    font-weight: inherit;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1;
    margin-block: var(--fixed-gap);
}

.info h5 + div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(2 * var(--fixed-gap));
    margin-block: calc(0.5 * var(--section-margin));
}

.accountable {
    font-family: var(--handwritten);
}

.accountable p {
    transform: rotate(-10deg);
}

.accountable p::before {
    content: '✓';
    font-size: 1.25em;
    padding-right: 0.25em;
    color: var(--grad1);
}

.accountable p:nth-child(even)::before {
    color: var(--grad2);
}

.links {
    flex-wrap: wrap;
    justify-content: flex-end;
}

.links a {
    text-decoration: none;
}

.links h3 {
    font-size: inherit;
    font-weight: inherit;
}

@media (min-width: 45rem) {
    .info h5 {
        margin-left: auto;
        max-width: 85%;
        text-align: right;
    }

    .accountable {
        padding-left: calc(2 * var(--padding));
    }
}