:root {
    --appear-opacity: 0;
}

.appear {
    --scale-max: 1.4;

    --anim-dur: .8s;
    --item-dur: calc(0.75 * var(--anim-dur));
    --leaf-dur: calc(1.75 * var(--anim-dur));
    --frame-dur: calc(1.5 * var(--anim-dur));
    --header-dur: calc(1 * var(--frame-dur));

    --item-del: calc(0.33 * var(--item-dur));
    --main-leaf-del: 0s;
    --h1-del: calc(0.5 * var(--leaf-dur));
    --section-del: calc(var(--h1-del) + 0.66 * var(--anim-dur));
    --lang-del: calc(var(--section-del) + 0.5 * var(--anim-dur));
    --nav-leaf-del: calc(var(--lang-del) + var(--anim-dur));
    --proj-title-del: calc(var(--nav-leaf-del) + 0.5 * var(--leaf-dur));
    --proj-del: calc(var(--proj-title-del) + 0.66 * var(--anim-dur));
    --nav-frame-del: calc(var(--proj-del) + 1.5 * var(--anim-dur));
    --main-frame-del: var(--nav-frame-del);
    --header-del: calc(var(--main-frame-del) + 0 * var(--frame-dur));

    --h1-anim: var(--scale-in);
    --section-anim: var(--fade-in);
}
.appearDone {
    --appear-opacity: 1;
}

.el,
.lang,
.proj,
.projtitle,
.header,
.main::before,
.nav::before,
.main > div::before, 
.nav > div::before {
    opacity: var(--appear-opacity);
}

.appear .main, 
.appear .nav {
    --inner-anim: var(--float-leaf);
    --outer-anim: var(--open-leaf);
    --inner-dur: var(--leaf-dur);
    --outer-dur: var(--frame-dur);
}

.appear .main {
    --rotX: 1;
    --rotY: 0.5;
    --transX: 50%;
    --inner-del: var(--main-leaf-del);
    --outer-del: var(--main-frame-del);
}

.appear .nav {
    --rotX: 1;
    --rotY: -0.5;
    --transX: -50%;
    --inner-del: var(--nav-leaf-del);
    --outer-del: var(--nav-frame-del);
} 

.appear .lang {
    --total-del: calc(var(--lang-del) + var(--i) * var(--item-del));
    --outer-anim: var(--scale-leaf);
    --outer-del: var(--total-del);
    --outer-dur: var(--anim-dur);
    --scale-min: 0.5;
    --scale-max: 1.3;

    animation: var(--item-dur) var(--total-del) forwards var(--fade-in);
}

.appear .projtitle {
    --scale-min: 0.3;
    animation: var(--anim-dur) var(--proj-title-del) forwards show-proj;
}

.appear .proj {
    --transX: 50%;
    --total-d: calc(var(--proj-del) + var(--i) * var(--item-del) * 0.5);
    animation: var(--item-dur) var(--total-d) forwards slide-proj;
}

.appear .header {
    --transY: 100%;

    animation: var(--header-dur) var(--header-del) forwards var(--slide-in);
}

@keyframes show-proj {
    0% { 
        opacity: 1;
        transform: scale(var(--scale-min)) rotate(0); 
    }
    66% { 
        opacity: 1;
        transform: scale(var(--scale-max)) rotate(0); 
    }
    100% { 
        opacity: 1;
        transform: scale(1) rotate(var(--rot-deg)); 
    }
}
@keyframes slide-proj {
    0% { 
        opacity: 0;
        transform: translateX(var(--transX)); 
    }
    50% {
        opacity: 0.25;
        transform: translateX(calc(-1 * var(--transX))); 
    }
    100% { 
        opacity: 1;
        transform: translateX(0); 
    }
}