.header {
    --duration: .2s;
    --timing: ease;

    grid-area: header;
    gap: 1rem;
}

.header,
.contact {
    display: flex;
    align-items: center;
}

.contact {
    flex-grow: 1;
    justify-content: flex-end;
    position: relative;
}

.logo {
    font-family: var(--handwritten);
    font-size: 1.5rem;
}

.svga,
.logo {
    padding-inline: 0.5rem;
    cursor: pointer;
}

.logo div {
    font-weight: 300;
    visibility: visible;
    opacity: 1;
    transition: opacity .4s ease-in-out .4s, visibility .4s ease-in-out .4s, color var(--duration) var(--timing), transform var(--duration) var(--timing);
}

.logo div.hidden {
    visibility: hidden;
    opacity: 0;
}

.logo:has(.hidden) {
    cursor: default;
}

.svga svg {
    transition: fill var(--duration) var(--timing), transform var(--duration) var(--timing);
}

.svga:hover svg {
    fill: var(--grad2);
}

.svga svg,
.logo div {
    fill: var(--grad1);
    color: var(--grad1);
    transform: scale(1);
}

.svga:hover svg,
.logo:hover div {
    fill: var(--grad2);
    color: var(--grad2);
}

.popup {
    --frame-shape: 0 var(--outline-radius-nav) 0 var(--outline-radius-nav);
    --frame-angle: 3deg;
    --leaf-padding: .75rem 1.5rem;
    --top: -0.125rem;
    --bottom: -0.125rem;
    --left: -.5rem;
    --right: -0.5rem;
    --animation: none;
    --transY: 50%;
    --bg-shadow: green;

    animation: .3s forwards var(--animation);
    position: absolute;
    top: 200%;
    right: -.5rem;
}

.popup strong {
    color: var(--grad2);
}

.enter {
    --animation: var(--slide-in);
}
.exit {
    --animation: var(--slide-out);
}