.header {
    --duration: .2s;
    --timing: ease-out;

    grid-area: header;
}

.header,
.contact {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact {
    flex-grow: 1;
    justify-content: flex-end;
    position: relative;
}

.logo {
    font-family: var(--handwritten);
    font-size: 1.5rem;
}

.svga,
.logo {
    padding-inline: 0.5rem;
    cursor: pointer;
}

.logo div {
    font-weight: 300;
    visibility: visible;
    opacity: 1;
    transition: opacity var(--anim-dur) ease-in-out, visibility var(--anim-dur) ease-in-out, color var(--anim-dur) var(--timing), transform var(--duration) var(--timing);
}

.logo div.hidden {
    visibility: hidden;
    opacity: 0;
}

.logo:has(.hidden) {
    cursor: default;
}

.svga svg {
    transition: fill var(--duration) var(--timing), transform var(--duration) var(--timing);
}

.svga svg,
.logo div {
    fill: var(--grad1);
    color: var(--grad1);
    transform: scale(1);
}

.svga:hover svg,
.logo:hover div {
    fill: var(--grad2);
    color: var(--grad2);
    transform: scale(1.4);
}

.popup {
    --frame-shape: var(--outline-radius-lg) var(--outline-radius-sm) var(--outline-radius-lg) var(--outline-radius-sm);
    --grad-dir: 0;
    --grad-pos: auto;
    --grad-colors: var(--two-colors);
    --grad-size: auto;
    --outer-padding: 0;
    --inner-padding: 1.5rem 2.5rem;
    --outer-deg: 1deg;
    --inner-deg: -3deg;
    --animation: none;
    --transY: -50%;
    --bg: var(--bg-lighter);

    animation: .3s forwards var(--animation);
    position: fixed;
    top: calc(var(--relative-indent) + var(--section-margin));
    right: 1rem;
    z-index: 10;
}

.popup strong {
    color: var(--grad2);
}

.enter {
    --animation: var(--slide-in);
}
.exit {
    --animation: var(--slide-out);
}

@media (min-width: 45rem) {
    .popup {
        position: absolute;
        top: 200%;
        right: 2rem;
    }
}