.nav {
    --grad-dir: 135deg;
    --grad-pos: var(--bg-position) var(--bg-position);
    --grad-colors: var(--all-colors);
    --grad-size: var(--bg-size) var(--bg-size);
    --frame-shape: var(--outline-radius-sm) var(--outline-radius-sm) var(--outline-radius-lg) var(--outline-radius-lg);
    --bg: var(--bg-lighter);
    --outer-deg: -1deg;
    --inner-deg: 2deg;
    --outer-padding: 0.25rem;
    --inner-padding: 0.75rem 0 0.5rem 0.5rem;

    grid-area: nav;
    position: sticky;
    z-index: 1;
    top: calc(1.5 * var(--h1-size));
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
}

.nav aside {
    --dimens: calc(0.875 * var(--h1-size));
    
    position: absolute;
    top: calc(-1.25 * var(--dimens));
    right: var(--fixed-gap);
    z-index: 5;
    font-size: var(--dimens);
    line-height: var(--dimens);
    font-family: var(--handwritten);
    color: var(--grad1);
    transform: rotate(10deg);
    transition: color var(--animation-duration) ease-in-out;
}

.nav ul {
    display: flex;
    overflow: auto;
    border-radius: var(--frame-shape);
}

.nav li {
    --dimens: 12px;
    --translateX: 0;
    --textTranslateX: 0;
    --scale: 1;
    --overlay-padding-left: 0;
    --overlay-opacity: 0;
    --grad-direction: var(--nav-li-direction);
    --grad-image: var(--all-colors);
    --border-radius: 0 var(--outline-radius-nav) 0 var(--outline-radius-nav);
    --box-shadow: none;
    --text-shadow: 1px 1px 0.5rem var(--shadow-color);

    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;

    color: var(--light-text);

    position: relative;
    padding-block: var(--fixed-gap);
    padding-inline: calc(1.5 * var(--fixed-gap));
    
    transform: translateX(var(--translateX)) scale(var(--scale));
    transition: transform .3s ease-in-out, color .3s ease-in-out;

    cursor: pointer;
}

.nav li div {
    text-shadow: var(--text-shadow);
}

.nav li:nth-child(odd) {
    --shadow-color: var(--grad1);
}

.nav li:nth-child(even) {
    --shadow-color: var(--grad2);
}

.nav li, .nav li::before {
    border-radius: var(--border-radius);
}

.nav li::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 100%;
    z-index: -1;
    padding-left: var(--overlay-padding-left);
    background-image: linear-gradient(var(--grad-direction), var(--all-colors));
    background-size: var(--bg-size);
    background-position: calc(100% - var(--bg-position));
    opacity: var(--overlay-opacity);
    box-shadow: var(--box-shadow);
    transition: opacity .3s ease-in-out, padding .3s ease-in-out, background-position .5s ease-in-out;
}

.nav li:hover,
.nav li.active {
    --overlay-opacity: 1;
    --box-shadow: 0 0 6px 3px var(--bg-trans);
    --color: #fff;
    --text-shadow: none;
}

@media (min-width: 45rem) {
    .nav {
        --frame-shape: var(--outline-radius-lg) var(--outline-radius-md) var(--outline-radius-lg) var(--outline-radius-sm);
        --outer-padding: 0;
        --inner-padding: 4rem 2rem;
        --outer-deg: -5deg;
        --inner-deg: 5deg;
        top: 30%;
    }

    .nav aside {
        color: var(--grad2);
    }

    .nav ul {
        display: grid;
        gap: var(--fixed-gap);
        justify-items: start;
        overflow: visible;
    }

    .nav li {
        padding-inline: var(--fixed-gap);
    }

    .nav li:hover,
    .nav li.active {
        --overlay-padding-left: calc(3 * var(--fixed-gap));
    }

    .nav li.active {
        --translateX: calc(-2 * var(--fixed-gap));
        --scale: 1.2;
    }
}