:root {
    --grad-pos: auto;
    --grad-size: auto;
    --grad-dir: 0deg;
    --frame-shape: 0;
    --outer-padding: 0;
    --inner-padding: 0;
    --outer-deg: 0;
    --inner-deg: 0;
    --outer-scale: 1;
    --inner-scale: 1;
    --outer-anim: none;
    --inner-anim: none;
    --outer-del: 0s;
    --inner-del: 0s;
    --outer-dur: var(--anim-dur);
    --inner-dur: var(--anim-dur);
    --inner-bg: var(--bg-lighter);
}

.leaf, .innerleaf {
    position: relative;
    z-index: 0;
}

.leaf {
    padding: var(--outer-padding);
}

.innerleaf {
    padding: var(--inner-padding);
}

.leaf::before, 
.innerleaf::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: var(--frame-shape);
}

.leaf::before {
    background-image: linear-gradient(var(--grad-dir), var(--grad-colors));
    background-position: var(--grad-pos);
    background-size: var(--grad-size);
    transform: rotate(var(--outer-deg)) scale(var(--outer-scale));
    transition: background-position var(--anim-dur) ease-in-out;
    animation: var(--outer-dur) var(--outer-del) forwards var(--outer-anim);
}

.innerleaf::before {
    background-color: var(--inner-bg);
    transform: rotate(var(--inner-deg)) scale(var(--inner-scale));
    transition: background-color .2s ease-in-out;
    animation: var(--inner-dur) var(--inner-del) forwards var(--inner-anim);
}

.hover:hover {
    --inner-bg: transparent;
}